extends base.pug

block content 
    h1 Watch Video
    h2=video.title
    h3=video.description
    each hash in video.hashtags
        li=hash
    small=video.createdAt
    br
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;
        