extends base.pug

block content
    div.wrapper
        div#videoContainer.videoWrapper(data-id=video._id)
            video(src=`${video.fileUrl.indexOf("uploads") === -1 ? video.fileUrl : "/" + video.fileUrl}`, width="1000px")
            div#videoController
                div#videoController-first 
                    i.fa-solid.fa-play#playPauseBtn
                    div 
                        span#playCurrentTime 00:00
                        span /
                        span#playPullTime 00:00
                input(type="range", step="1", value=0, min="0")#videoTimeRange
                div#videoController-third
                    i#volume.fas.fa-volume-up 
                    input(type="range", step="0.1",value=0.5,min="0", max="1")#volumeRange
                    button#videoFullScreenBtn Full

    if loggedIn 
        div.video__add-comments
            form.video__comment-form#commentForm
                textarea(cols="30", rows="10", placeholder="Write a nice commment...")
                button Add Comment
    div.video__comments
        ul 
            each comment in video.comments.reverse()
                li#videoComment.video__comment(data-id=comment.id)
                    i.fa-solid.fa-comment
                    span  #{comment.text}
                    if String(comment.owner) === String(loggedInUser._id) 
                        span.video__comment-delete#deleteCommentBtn(data-id=comment._id)(data-videoId=video._id) ❌


block scripts 
    script(src="/static/js/videoPlayer.js")
    script(src="/static/js/commentSection.js")

