extends base.pug

block content
    div#videoContainer(data-id=video._id)
        h1 Watch Video
        video(src=`/${video.fileUrl}`, width="1000px")
        div#videoControls 
            button#play play 
            button#mute Mute 
            input(type="range", step="0.1",value=0.5,min="0", max="1")#volume
            div 
                span#currenTime 00:00
                span /
                span#totalTime 00:00
            div 
                input(type="range", step="1", value=0, min="0")#timeline
            div 
                button#fullScreen Enter Full Screen
    if loggedIn 
        div.video__add-comments
            form.video__comment-form#commentForm
                textarea(cols="30", rows="10", placeholder="Write a nice commment...")
                button Add Comment
    div.video__comments
        ul 
            each comment in video.comments.reverse()
                li#videoComment.video__comment(data-id=comment.id)
                    i.fa-solid.fa-comment
                    span  #{comment.text}
                    if String(comment.owner) === String(loggedInUser._id) 
                        span.video__comment-delete#deleteCommentBtn(data-id=comment._id)(data-videoId=video._id) ❌


block scripts 
    script(src="/static/js/videoPlayer.js")
    script(src="/static/js/commentSection.js")

